{{/*  Map lookups  */}}
{{- $DebugKey        := "Debug"                                                           -}}
{{- $ErrorsKey       := "Errors"                                                          -}}
{{- $WarningsKey     := "Warnings"                                                        -}}
{{- $PartialsKey     := "Keywords.Canonicalize.Shared"                                    -}}
{{- $TranslationsKey := "Keywords.AllOfSubschema"                                         -}}
{{- $D               := partialCached "schematize/tmap" $DebugKey        $DebugKey        -}}
{{- $E               := partialCached "schematize/tmap" $ErrorsKey       $ErrorsKey       -}}
{{- $W               := partialCached "schematize/tmap" $WarningsKey     $WarningsKey     -}}
{{- $P               := partialCached "schematize/pmap" $PartialsKey     $PartialsKey     -}}
{{- $T               := partialCached "schematize/tmap" $TranslationsKey $TranslationsKey -}}
{{/*  Canonicalizing  */}}
{{- $Keyword        := "allOf" -}}
{{- $Canonicalizing := merge . (
        dict
            "Keyword"         $Keyword
            "TranslationsKey" $TranslationsKey
    )
-}}
{{- $Canonical := partial $P.OfSubschema $Canonicalizing -}}

{{- return $Canonical -}}
