{{/*  Map lookups  */}}
{{- $DebugKey        := "Debug"                                                           -}}
{{- $ErrorsKey       := "Errors"                                                          -}}
{{- $WarningsKey     := "Warnings"                                                        -}}
{{- $PartialsKey     := "Keywords.Canonicalize.Shared"                                    -}}
{{- $TranslationsKey := "Keywords"                                                        -}}
{{- $D               := partialCached "schematize/tmap" $DebugKey        $DebugKey        -}}
{{- $E               := partialCached "schematize/tmap" $ErrorsKey       $ErrorsKey       -}}
{{- $W               := partialCached "schematize/tmap" $WarningsKey     $WarningsKey     -}}
{{- $P               := partialCached "schematize/pmap" $PartialsKey     $PartialsKey     -}}
{{- $T               := partialCached "schematize/tmap" $TranslationsKey $TranslationsKey -}}
{{/*  Parameters  */}}
{{- $Params        := .                                 -}}
{{- $PriorDotPath  := $Params.EntryDotPath | default "" -}}
{{- $Level         := $Params.Level | default 1 | add 1 -}}
{{- $Page          := $Params.Page                      -}}
{{- $RootSchema    := $Params.RootSchema                -}}
{{- $Schema        := $Params.Schema                    -}}
{{- $format        := $Params.Format                    -}}
{{- $Keyword       := "enum"                            -}}
{{- $KeywordSchema := index $Schema $Keyword            -}}
{{- $canonical     := dict                              -}}

{{- if isset $Schema $Keyword -}}
    {{- $InfoParams     := merge $Params (dict "Keyword" $Keyword) -}}
    {{- $Info           := partial $P.KeywordInfo $InfoParams      -}}
    {{- $EntryDotPath   := $Info.EntryDotPath                      -}}
    {{- $KeywordSchema  := $Info.KeywordSchema                     -}}
    {{- $HeadingOptions := $Info.HeadingOptions                    -}}
    {{- $KeywordOptions := $Info.KeywordOptions                    -}}

    {{- $ID           := $HeadingOptions.id        | default $Info.DefaultID                    -}}
    {{- $Title        := $HeadingOptions.title     | default (i18n $T.Enum.Heading)             -}}
    {{- $Layout       := $KeywordOptions.layout    | default "list"                             -}}
    {{- $Description  := $Info.Description         | default (i18n $T.Enum.Description.Default) -}}
    {{- $format       := $KeywordOptions.format_as | default $format                            -}}
    {{- $ValueOptions := $KeywordOptions.values    | default (slice)                            -}}

    {{- $values := slice -}}
    {{- range $Index, $Value := $KeywordSchema -}}
        {{- $vID           := printf "%s.%v" $ID           $Index      -}}
        {{- $vEntryDotPath := printf "%s.%v" $EntryDotPath $Index      -}}
        {{- $vTitle        := i18n $T.EnumValue.Heading (add 1 $Index) -}}
        {{- $vDescription  := i18n $T.EnumValue.Description.Default    -}}
        {{- with $ValueOptions := index $ValueOptions $Index -}}
            {{- $vID          = $ValueOptions.id          | default $vID          -}}
            {{- $vTitle       = $ValueOptions.title       | default $vTitle       -}}
            {{- $vDescription = $ValueOptions.description | default $vDescription -}}
        {{- end -}}
        {{- $values = $values | append (
                dict
                    "Page"          $Page
                    "ID"            $vID
                    "Level"         (add 1 $Level)
                    "RootSchema"    $RootSchema
                    "EntryDotPath"  $vEntryDotPath
                    "Title"         $vTitle
                    "Description"   $vDescription
                    "Code"          ($Value | jsonify (dict "indent" "  "))
            )
        -}}
    {{- end -}}

    {{- $canonical  = dict
            "Page"          $Page
            "RootSchema"    $RootSchema
            "Schema"        $KeywordSchema
            "ID"            $ID
            "Title"         $Title
            "Attributes"    $HeadingOptions.attributes
            "Description"   $Description
            "Level"         $Level
            "EntryDotPath"  $EntryDotPath
            "Layout"        $Layout
            "Values"        $values
            "Format"        $format
    -}}
{{- end -}}

{{- return $canonical -}}
