{{/*  Map lookups  */}}
{{- $DebugKey        := "Debug"                                                           -}}
{{- $ErrorsKey       := "Errors"                                                          -}}
{{- $WarningsKey     := "Warnings"                                                        -}}
{{- $PartialsKey     := ""                                                                -}}
{{- $TranslationsKey := ""                                                                -}}
{{- $D               := partialCached "schematize/tmap" $DebugKey        $DebugKey        -}}
{{- $E               := partialCached "schematize/tmap" $ErrorsKey       $ErrorsKey       -}}
{{- $W               := partialCached "schematize/tmap" $WarningsKey     $WarningsKey     -}}
{{- $P               := partialCached "schematize/pmap" $PartialsKey     $PartialsKey     -}}
{{- $T               := partialCached "schematize/tmap" $TranslationsKey $TranslationsKey -}}
{{/*  Parameters  */}}
{{- $Params       := .                    -}}
{{- $Page         := $Params.Page         -}}
{{- $Level        := $Params.Level        -}}
{{- $Title        := $Params.Title        -}}
{{- $Description  := $Params.Description  -}}
{{- $Metadata     := $Params.Metadata     -}}

{{/*  Partials  */}}
{{- $P_Heading := "schematize/markup/templates/heading/arbitrary" -}}
{{- $P_List    := "schematize/markup/templates/metadata/list"     -}}

{{/*  {{- $HParams := merge $Params (dict "Level" (add 1 $Level)) -}}
{{- $Heading := partial $P_Heading $HParams                 -}}  */}}

<section class="schematize-metadata">
    {{/*  {{ $Heading }}  */}}
    {{- with $Description }}
    {{- $Description | $Page.RenderString }}
    {{ end -}}
    {{ partial $P_List $Params }}
</section>
