{{/*  Map lookups  */}}
{{- $DebugKey        := "Debug"                                                           -}}
{{- $ErrorsKey       := "Errors"                                                          -}}
{{- $WarningsKey     := "Warnings"                                                        -}}
{{- $PartialsKey     := ""                                                                -}}
{{- $TranslationsKey := "Keywords.AdditionalProperties"                                   -}}
{{- $D               := partialCached "schematize/tmap" $DebugKey        $DebugKey        -}}
{{- $E               := partialCached "schematize/tmap" $ErrorsKey       $ErrorsKey       -}}
{{- $W               := partialCached "schematize/tmap" $WarningsKey     $WarningsKey     -}}
{{- $P               := partialCached "schematize/pmap" $PartialsKey     $PartialsKey     -}}
{{- $T               := partialCached "schematize/tmap" $TranslationsKey $TranslationsKey -}}
{{/*  Parameters  */}}
{{- $Params     := .                      -}}
{{- $Page       := $Params.Page           -}}
{{- $RootSchema := $Params.RootSchema     -}}
{{- $Schema     := $Params.Schema         -}}
{{- $Keyword    := "additionalProperties" -}}

{{- if isset $Schema $Keyword -}}
    {{- $Canonical := partial $P.Keywords.Canonicalize.Config.AdditionalProperties $Params -}}

    {{- if reflect.IsMap $Canonical.Schema -}}
        {{- partial $P.Config $Canonical -}}
    {{- else -}}
        {{ partial $P.Headings.Arbitrary $Canonical }}

        {{ $Canonical.Description | $Page.RenderString }}
    {{- end -}}
{{- end -}}
