{{/*  Map lookups  */}}
{{- $DebugKey        := "Debug"                                                           -}}
{{- $ErrorsKey       := "Errors"                                                          -}}
{{- $WarningsKey     := "Warnings"                                                        -}}
{{- $PartialsKey     := "Utils"                                                           -}}
{{- $TranslationsKey := ""                                                                -}}
{{- $D               := partialCached "schematize/tmap" $DebugKey        $DebugKey        -}}
{{- $E               := partialCached "schematize/tmap" $ErrorsKey       $ErrorsKey       -}}
{{- $W               := partialCached "schematize/tmap" $WarningsKey     $WarningsKey     -}}
{{- $P               := partialCached "schematize/pmap" $PartialsKey     $PartialsKey     -}}
{{- $T               := partialCached "schematize/tmap" $TranslationsKey $TranslationsKey -}}
{{/*  Parameters/Output  */}}
{{- $Params    := .    -}}
{{- $cacheable := dict -}}

{{- if reflect.IsMap $Params -}}
    {{- $Caching  := dict "Data" $Params "Keys" "Page" -}}
    {{- $cacheable = partialCached $P.RemoveMapKeys $Caching $Caching -}}
{{- else -}}
    {{- $cacheable = $Params -}}
{{- end -}}

{{- return $cacheable -}}
