{{/*  Map lookups  */}}
{{- $DebugKey        := "Debug"                                                           -}}
{{- $ErrorsKey       := "Errors"                                                          -}}
{{- $WarningsKey     := "Warnings"                                                        -}}
{{- $PartialsKey     := ""                                                                -}}
{{- $TranslationsKey := "Keywords.Vocabulary.PatternProperties"                           -}}
{{- $D               := partialCached "schematize/tmap" $DebugKey        $DebugKey        -}}
{{- $E               := partialCached "schematize/tmap" $ErrorsKey       $ErrorsKey       -}}
{{- $W               := partialCached "schematize/tmap" $WarningsKey     $WarningsKey     -}}
{{- $P               := partialCached "schematize/pmap" $PartialsKey     $PartialsKey     -}}
{{- $T               := partialCached "schematize/tmap" $TranslationsKey $TranslationsKey -}}
{{/*  Parameters  */}}
{{- $Params     := .                   -}}
{{- $Page       := $Params.Page        -}}
{{- $Schema     := $Params.Schema      -}}
{{- $Keyword    := "patternProperties" -}}
{{- $RootSchema := $Params.RootSchema  -}}

{{- if isset $Schema $Keyword -}}
    {{- $Canonical := partial $P.Vocabularies.Keywords.Canonicalize.PatternProperties $Params -}}

    {{ partial $P.Headings.Arbitrary $Canonical }}
    {{- with $Canonical.Description }}
        {{- $Canonical.Description | $Page.RenderString -}}
    {{ end -}}

    {{- $SortedPatterns := partial $P.Utils.GetSortedMapKeys $Canonical.Schema -}}

    {{ range $Pattern := $SortedPatterns }}
        {{- $Canonicalizing := merge $Params (
                dict
                "ID"            $Canonical.ID
                "Level"         $Canonical.Level
                "Page"          $Page
                "Pattern"       $Pattern
                "Property"      (index $Canonical.Schema $Pattern)
                "EntryDotPath"  $Canonical.EntryDotPath
                "RootSchema"    $RootSchema
            )
        -}}
        {{- $Property := partial $P.Objects.Canonicalize.PatternProperty $Canonicalizing -}}

        {{ partial $P.DefaultTemplate $Property }}
    {{ end }}
{{- end -}}
