{{/*  Map lookups  */}}
{{- $DebugKey        := "Debug"                                                           -}}
{{- $ErrorsKey       := "Errors"                                                          -}}
{{- $WarningsKey     := "Warnings"                                                        -}}
{{- $PartialsKey     := ""                                                                -}}
{{- $TranslationsKey := "Keywords.Default"                                                -}}
{{- $D               := partialCached "schematize/tmap" $DebugKey        $DebugKey        -}}
{{- $E               := partialCached "schematize/tmap" $ErrorsKey       $ErrorsKey       -}}
{{- $W               := partialCached "schematize/tmap" $WarningsKey     $WarningsKey     -}}
{{- $P               := partialCached "schematize/pmap" $PartialsKey     $PartialsKey     -}}
{{- $T               := partialCached "schematize/tmap" $TranslationsKey $TranslationsKey -}}
{{/*  Parameters and options  */}}
{{- $Params     := .                                             -}}
{{- $Page       := $Params.Page                                  -}}
{{- $RootSchema := $Params.RootSchema                            -}}
{{- $Schema     := $Params.Schema                                -}}
{{- $Format     := $Schema.schematize.format_as | default "json" -}}

{{- $Keyword := "default"   -}}

{{- if isset $Schema $Keyword -}}
    {{- $Canonical := partial $P.Keywords.Canonicalize.Default $Params -}}

    {{ partial $P.Headings.Arbitrary $Canonical }}
    {{- with $Canonical.Description }}
        {{- $Canonical.Description | $Page.RenderString -}}
    {{ end -}}
{{- end -}}
